<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.236</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy">
    <denyAnonymousReadAccess>true</denyAnonymousReadAccess>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <hudson.model.MyView>
      <owner class="hudson" reference="../../.."/>
      <name>My_Dashboard</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.MyView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>List_dashboard</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>true</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>DATE</string>
        <string>FreeStyle-DATE</string>
        <string>FreeStyle-Hello_World-POLL-SCM</string>
        <string>FreeStyle-Hello_World-WEBHOOK</string>
        <string>FreeStyle-ifconfig</string>
        <string>FreeStyle-IWAYQ_Complete</string>
        <string>FreeStyle-My_App-MAVEN</string>
        <string>FreeStyle_IWAYQ_Prarameterized</string>
        <string>Hello-JAVA</string>
        <string>Hello_World</string>
        <string>IP_ADDR</string>
        <string>Maven-Iwaq</string>
        <string>Maven-Sample</string>
      </jobNames>
      <jobFilters>
        <org.jenkinsci.plugins.github__branch__source.GitHubBranchFilter plugin="github-branch-source@2.9.7"/>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <jenkins.branch.ItemColumn plugin="branch-api@2.6.2"/>
      </columns>
      <recurse>true</recurse>
    </listView>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.16">
      <owner class="hudson" reference="../../.."/>
      <name>New_Dashboard</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <hideJenkinsPanels>false</hideJenkinsPanels>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets/>
      <rightPortlets/>
      <topPortlets>
        <hudson.plugins.view.dashboard.core.JobsPortlet>
          <name>Jobs Grid</name>
          <columnCount>100</columnCount>
          <fillColumnFirst>false</fillColumnFirst>
        </hudson.plugins.view.dashboard.core.JobsPortlet>
        <hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
          <name>Unstable Jobs</name>
          <showOnlyFailedJobs>false</showOnlyFailedJobs>
          <recurse>false</recurse>
        </hudson.plugins.view.dashboard.core.UnstableJobsPortlet>
      </topPortlets>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.5.8">
      <owner class="hudson" reference="../../.."/>
      <name>Pipeline_View</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>FreeStyle-ifconfig</firstJob>
        <firstJobLink>job/FreeStyle-ifconfig/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>1</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>false</alwaysAllowManualTrigger>
      <showPipelineParameters>false</showPipelineParameters>
      <rowHeaders class="au.com.centrumsystems.hudson.plugin.buildpipeline.extension.SimpleRowHeader"/>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <columnHeaders class="au.com.centrumsystems.hudson.plugin.buildpipeline.extension.NullColumnHeader"/>
      <buildCard class="au.com.centrumsystems.hudson.plugin.buildpipeline.extension.StandardBuildCard"/>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>